
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #4686e5; 
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(238, 7, 7, 0.1);
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

header ul li {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

header ul li:hover {
  color: #f5270b; 
  transform: scale(1.1);
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #111827;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  color: #6b7280;
}


img {
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}


button {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  padding: 12px 25px;
  margin: 10px 5px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}